{% extends 'shared/base.html' %}
{% load render_partial %}
{% load i18n %}
{#{% block content %}#}


{##}
{#    {% if validlink %}#}
{##}
{#        <p>#}
{#            {% trans 'Please enter your new password twice so we can verify you typed it in correctly.' %}#}
{#        </p>#}
{##}
{#        <form method="post">#}
{##}
{#            {% csrf_token %}#}
{#            {{ form }}#}
{##}
{#            <button class="btn btn-success">{% trans 'Change' %}</button>#}
{##}
{#        </form>#}
{##}
{#    {% else %}#}
{##}
{#        <div class="alert alert-danger">#}
{#            {% trans 'The password reset link was invalid, possibly because it has already been used. Please request a new password reset.' %}#}
{#        </div>#}
{##}
{#    {% endif %}#}

{#{% endblock %}#}

{% block title %}
    Reset password confirm
{% endblock %}
{% block content %}
    <!-- BEGIN | Header -->
    {% render_partial 'Main:header_partial' %}
    <!-- END | Header -->

    <div class="hero user-hero">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="hero-ct">
                        <h4 class="text-white-2">{% trans 'Restore password' %}</h4>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-single">
        <div class="container">
            <div class="row ipad-width">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    {% if validlink %}
                    <div class="login-box" style="width: 600px">
                         <p>
                            {% trans 'Please enter your new password twice so we can verify you typed it in correctly.' %}
                        </p>
                        <br>
                        <form method="post" data-url_root="" class="ajax-form"
                              autocomplete="off">
                            {% csrf_token %}
                            <div class="success-message alert alert-success not-visible"></div>
                            <div class="error-msg not-visible">
                                <i class="fa fa-info-circle"></i>
                                <span class="closebtn">x</span>
                                Something went wrong
                            </div>
                            <br>
                            <div class="user-box">
                                {{ form.new_password1 }}
                                <label for="id_new_password1" id="id_label">New Password</label>
                                            <div class="help_text">
                                                {{ form.new_password1.help_text }}
                                            </div>
                            </div>
                            <div class="user-box">
                                {{ form.new_password2 }}
                                <label for="id_new_password2" id="id_label">New Password Confirmation</label>
                            </div>

                            <button type="submit">
                              <span></span>
                              <span></span>
                              <span></span>
                              <span></span>
                              Change
                            </button>
                        </form>
                    </div>
                        {% else %}
                        <div class="alert alert-danger">
                            {% trans 'The password reset link was invalid, possibly because it has already been used. Please request a new password reset.' %}
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
    <!-- footer section-->
    {% render_partial 'Main:footer_partial' %}
    <!-- end of footer section-->
{% endblock %}
