{% extends 'shared/base.html' %}
{% load bootstrap5 %}
{% load static %}
{% load render_partial %}
{% block title %}
    reset password
{% endblock %}
{% block content %}
    <!-- BEGIN | Header -->
    {% render_partial 'Main:header_partial' %}
    <!-- END | Header -->

    <div class="hero user-hero">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="hero-ct">
                        <h1>Restore Password</h1>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-single">
        <div class="container">
            <div class="row ipad-width">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="login-box">
                        <form method="post" data-url_root="{% url 'Accounts:restore_password' %}" class="ajax-form"
                              autocomplete="off">
                            {% csrf_token %}
                            <div class="success-message alert alert-success not-visible"></div>
                            <div class="error-msg not-visible">
                                <i class="fa fa-info-circle"></i>
                                <span class="closebtn">x</span>
                                Something went wrong
                            </div>
                            <br>
                            <div class="user-box">
                                {{ form.email_or_username }}
                                <label for="id_email_or_username" id="id_label">email or username</label>
                            </div>

                            <button type="submit">
                              <span></span>
                              <span></span>
                              <span></span>
                              <span></span>
                              send
                            </button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- footer section-->
    {% render_partial 'Main:footer_partial' %}
    <!-- end of footer section-->




{% endblock %}