{% extends 'shared/base.html' %}
{% load render_partial %}
{% load static %}
{% load i18n %}

{% block content %}

<main style="background-image: url('{% static "images/uploads/hero-bg.jpg" %}');height: 625px;color: whitesmoke">
	<div>
		<div>
			<div class="md-card-content">
				<h4 style="margin-bottom: 15px;">{% trans 'Restore password' %}</h4>
                <div class="success-msg">
                    {% trans "We've emailed you instructions for setting your password, if an account exists with the email you entered." %}
                    {% trans 'You should receive them shortly.' %}

                    <br>
                    <br>

                    {% trans "If you don't receive an email, please make sure you've entered the address you signed up with, and check your spam folder." %}
                </div>

                <h5 id="countdown_id" style="margin-top: 50px;color: whitesmoke"></h5>
			</div>
		</div>
	</div>
</main>
{% endblock %}
