{% load bootstrap5 %}
<div id="signup_modal">
    <div class="login-wrapper scroll_div" id="signup-content">
    <div class="login-content">
        <a href="#" class="close">x</a>
        <h3>sign up</h3>
        <div id="waiting" class="not-visible">
            <div id="status">
                <span></span><span></span>
            </div>
        </div>
        <form method="post" autocomplete="off" action="#" data-url_root="{% url 'Accounts:sign_up' %}" class="ajax-form" id="id_signup_form">
            {% csrf_token %}
            <div class="success-message alert alert-success not-visible"></div>
            <div class="row">
                {% bootstrap_form form %}
            </div>
            <br>
           <div class="row">
               <input type="hidden" name="selected_form" value="1">
               <button type="submit" id="signup_submit" class="submit-btns">sign up</button>
           </div>
        </form>
    </div>
</div>
</div>
