{% load static %}
<footer class="ht-footer">
	<div class="container">
		<div class="flex-parent-ft">
			<div class="flex-child-ft item1">
				 <a href="/"><img class="logo" src="{% static 'images/logo1.png' %}" alt=""></a>
				 <p>Iran</p>
				<p>Call us: <a>09215784112</a></p>
                <p>Email : keyvanmj5@gmail.com</p>
			</div>
			<div class="flex-child-ft item2">
				<h4>Resources</h4>
				<ul class="cursor_pointer">
					<li><a>About</a></li>
					<li><a>Blockbuster</a></li>
					<li><a>Contact Us</a></li>
					<li><a>Forums</a></li>
					<li><a>Blog</a></li>
					<li><a>Help Center</a></li>
				</ul>
			</div>
			<div class="flex-child-ft item3">
				<h4>Legal</h4>
				<ul class="cursor_pointer">
					<li><a>Terms of Use</a></li>
					<li><a>Privacy Policy</a></li>
					<li><a>Security</a></li>
				</ul>
			</div>
			<div class="flex-child-ft item4">
				<h4>Account</h4>
				<ul class="cursor_pointer">
					<li><a>My Account</a></li>
					<li><a>Watchlist</a></li>
					<li><a>Collections</a></li>
					<li><a>User Guide</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="ft-copyright">
		<div class="backtotop">
			<p><a id="back-to-top">Back to top  <i class="ion-ios-arrow-thin-up"></i></a></p>
		</div>
	</div>
</footer>
