{% load static %}
{% url 'Accounts:change_profile' as change_profile_url %}
{% url 'Accounts:change_password' as change_password_url %}
{% url 'Accounts:change_email' as change_email_url %}
{% url 'Vote:rate_list_view' as rate_list_view %}
{% url 'Favourite:favourite_list' as fav_list_view %}

                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="user-information">
                        <div class="user-img">
                                <img class="user-profile-image" src="{{ request.user.profile.image.url }}" alt="user_image_profile"><br>
                        </div>
                        <div class="user-fav">
                            <p>Account Details</p>
                            <ul>
                                <li class="{% if request.path_info == change_profile_url %}active{% endif %}"><a href="{% url 'Accounts:change_profile' %}">Profile</a></li>
                                <li class="{% if request.path_info == fav_list_view %}active{% endif %}"><a href="{% url 'Favourite:favourite_list' %}">Favorite List</a></li>
                                <li class="{% if request.path_info == rate_list_view %}active{% endif %}"><a href="{% url 'Vote:rate_list_view' %}">Rated List</a></li>
                            </ul>
                        </div>
                        <div class="user-fav">
                            <p>Others</p>
                            <ul>
                                <li class="{% if request.path_info == change_password_url %}active{% endif %}">
                                    <a href="{% url 'Accounts:change_password' %}">Change password</a></li>

                                <li class="{% if request.path_info == change_email_url %}active{% endif %}">
                                    <a href="{% url 'Accounts:change_email' %}">Change email</a></li>

                                <li><a href="{% url 'Accounts:log_out' %}">Log out</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
